@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
section {
}

.vision-swiper-container {
  padding-bottom: 35px !important;
}
@media (min-width: 768px) {
  section {
    /*공통적용 px-[1%] */
    padding-left: calc(140 / 1920 * 100%);
    padding-right: calc(140 / 1920 * 100%);
  }
  section .right-full-width {
    padding-right: none !important;
  }
  .vision-swiper-container > .swiper-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
